.footer__text-1 {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    justify-content: space-around;
  
    padding: 45px;
}

.footer__text-2 {
    display: grid;
    grid-template-columns: repeat(2, 600px);
    justify-content: space-around;
}