.section-1__favorite {
    width: 90%;
    max-height: 5%;
    display: grid;
    grid-template-columns: 1fr 150px;
    padding: 18px 18px;
    margin: 60px auto;
    background-color: #B0BED2;
    border-radius: 25px;
}